/* Mobile Styles (default) */

.hero-section {
  display: flex;
  height: 100vh;
  overflow: hidden; 
}
.hero-image-container{
  position: relative;
  flex: 1; 
}
.hero-image {
  position: absolute; 
  right: -20rem;
  height: 100%; 
  opacity: 0.5; 
  transition: opacity 0.3s ease; 
  object-fit: cover;
}

.hero-text {
  color: var(--clr-primary-blue);
  z-index: 1;
  position: relative; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
/*   margin: 0 10%; */
}
.hero-text h4{
margin-bottom: .5rem;
}

.hero-text p {
  text-align: justify;
  color: var(--clr-gray-body);
}
.hero-text .button {
  align-self: start;
}


@media screen and (min-width: 45rem) {
  .hero-text {
    width: 75ch;
    align-items: flex-start; 
    text-align: left;
  }
  .hero-image {
    opacity: 1;
    transform: rotate(0deg); 
    animation: initialRotate 2s ease-in-out; 
    transition: transform 2s ease-in-out; 
  }
  
  .hero-image:hover {
    transform: rotate(75deg);
  }
  
  /* Keyframe animation for the initial load */
  @keyframes initialRotate {
    0% {
      transform: rotate(-45deg);
    }
    100% {
      transform: rotate(0);
    }
  }
}