.flex{
  display: flex;
  justify-content: space-between;
  gap: .5rem;
}
.container{
  background-color: var(--clr-primary-blue);
  color: var(--clr-white-bg);
  padding: 1rem;
}
.container a {
  color: var(--clr-white-bg);
}
.ods-links {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: .5rem;
  justify-items: center;
}
.flex .nav-links{
  font-size: smaller;
}
.info{
  text-align: center;
  font-size:smaller;
}