.flex-container{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-bottom: 2rem;
}
.graphic{
  position: relative;
}
.graphic .cta-title{
  position: absolute;
  font-weight: bold;
  color: var(--clr-accent-yellow);
  top: -1%;
}
.second .cta-title{
  top: 45%;
  left: 50%;
}
.play-btn-a, .play-btn-b{
  position: absolute;
  font-size: 2rem;
  color: var(--clr-accent-yellow);
}
.play-btn-a{
  top: 35%;
  left: 52%;
}
.play-btn-b{
  top: 75%;
  left: 22%;
}
@media screen and (min-width: 45rem){
.flex-container{
  flex-direction: row;
  gap: 2rem;
}
.second{
  flex-direction: row-reverse;
}
.play-btn-a:hover, .play-btn-b:hover{
  color: var(--clr-body-gray);
}
}